@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-body: var(--font-family-inter);
  --font-display: var(--font-family-host);
  --font-heading: var(--font-family-host);
  --font-sans: var(--font-family-inter);
  --color-sand-light-0: var(--sand-light-0);
  --color-sand-light-200: var(--sand-light-200);
  --color-sand-light-300: var(--sand-light-300);
  --color-sand-light-500: var(--sand-light-500);
  --color-sand-light-600: var(--sand-light-600);
  --color-sand-light-800: var(--sand-light-800);
  --color-sand-light-850: var(--sand-light-850);
  --color-sand-light-950: var(--sand-light-950);
  --color-sand-dark-0: var(--sand-dark-0);
  --color-sand-dark-200: var(--sand-dark-200);
  --color-sand-dark-300: var(--sand-dark-300);
  --color-sand-dark-500: var(--sand-dark-500);
  --color-sand-dark-600: var(--sand-dark-600);
  --color-sand-dark-800: var(--sand-dark-800);
  --color-sand-dark-850: var(--sand-dark-850);
  --color-sand-dark-950: var(--sand-dark-950);
  --color-ocean-500: var(--ocean-500);
  --color-ocean-600: var(--ocean-600);
  --color-ocean-700: var(--ocean-700);
  --color-ocean-800: var(--ocean-800);
  --color-ocean-850: var(--ocean-850);
  --color-background-primary: var(--background-primary);
  --color-background-inverse: var(--background-inverse);
  --color-background-active: var(--background-active);
  --color-background-inverse-secondary: var(--background-inverse-secondary);
  --color-background-tinted: var(--background-tinted);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-secondary-inverse: var(--text-secondary-inverse);
  --color-text-tertiary: var(--text-tertiary);
  --color-text-inactive-primary: var(--text-inactive-primary);
  --color-text-inactive-secondary: var(--text-inactive-secondary);
  --color-text-inactive-inverse-primary: var(--text-inactive-inverse-primary);
  --color-text-inverse: var(--text-inverse);
  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);
  --color-border-tertiary: var(--border-tertiary);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer utilities {
  .type-title-h5 {
    font-family: var(--font-family-inter);
    font-size: 20.25px;
    font-weight: 500;
    line-height: 138%;
    letter-spacing: -0.005em;
  }

  .type-p {
    font-family: var(--font-family-inter);
    font-size: 16px;
    font-weight: 500;
    line-height: 126%;
    letter-spacing: 0;
  }

  .type-p-body {
    font-family: var(--font-family-inter);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0;
  }

  .type-p-strong {
    font-family: var(--font-family-inter);
    font-size: 16px;
    font-weight: 600;
    line-height: 126%;
    letter-spacing: 0;
  }

  .type-s-button {
    font-family: var(--font-family-inter);
    font-size: 14.22px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 0;
  }

  .type-s-body {
    font-family: var(--font-family-inter);
    font-size: 14.22px;
    font-weight: 500;
    line-height: 155%;
    letter-spacing: 0.01em;
  }

  .type-s-button-strong {
    font-family: var(--font-family-inter);
    font-size: 14.22px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0;
  }

  .type-xs-button {
    font-family: var(--font-family-inter);
    font-size: 12.6px;
    font-weight: 500;
    line-height: 127%;
    letter-spacing: 0.005em;
  }

  .type-xs-button-strong {
    font-family: var(--font-family-inter);
    font-size: 12.6px;
    font-weight: 600;
    line-height: 127%;
    letter-spacing: 0.005em;
  }

  .type-h1 {
    font-family: var(--font-family-host);
    font-size: 340.5px;
    font-weight: 900;
    line-height: 75%;
    letter-spacing: 0.01em;
  }

  .type-h2 {
    font-family: var(--font-family-host);
    font-size: 54.7px;
    font-weight: 600;
    line-height: 103%;
    letter-spacing: -0.025em;
  }

  .type-h3 {
    font-family: var(--font-family-host);
    font-size: 38.4px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: -0.01em;
  }

  .type-h4 {
    font-family: var(--font-family-host);
    font-size: 32px;
    font-weight: 900;
    line-height: 75%;
    letter-spacing: 0.01em;
  }

  .type-h4-700 {
    font-family: var(--font-family-host);
    font-size: 32px;
    font-weight: 600;
    line-height: 112%;
    letter-spacing: 0.01em;
  }

  .type-h5 {
    font-family: var(--font-family-host);
    font-size: 30.4px;
    font-weight: 700;
    line-height: 112%;
    letter-spacing: -0.01em;
  }

  .type-h6 {
    font-family: var(--font-family-host);
    font-size: 21.3px;
    font-weight: 700;
    line-height: 114%;
    letter-spacing: -0.01em;
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-tertiary-narrow {
    scrollbar-color: var(--text-tertiary) transparent;
    scrollbar-width: thin;
  }

  .scrollbar-tertiary-narrow::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar-tertiary-narrow::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }

  .scrollbar-tertiary-narrow::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 8px;
  }

  .scrollbar-tertiary-narrow::-webkit-scrollbar-thumb {
    background-color: var(--text-tertiary);
  }
}

:root {
  --sand-light-200: #dee0e2;
  --sand-light-300: #d3d6d9;
  --sand-light-500: #bdc2c7;
  --sand-light-600: #a7adb4;
  --sand-light-800: #9199a1;
  --sand-light-850: #717b84;
  --sand-light-950: #5e666e;
  --sand-light-0: #4b5258;
  --sand-dark-200: #1d1f21;
  --sand-dark-300: #26292c;
  --sand-dark-500: #383d42;
  --sand-dark-600: #4b5258;
  --sand-dark-800: #5e666e;
  --sand-dark-850: #7b848e;
  --sand-dark-950: #9199a1;
  --sand-dark-0: #a7adb4;
  --ocean-500: #0f3b6b;
  --ocean-600: #145090;
  --ocean-700: #1863b4;
  --ocean-800: #1b6dc6;
  --ocean-850: #2881e2;
  --background-primary: var(--sand-light-200);
  --background-inverse: var(--sand-dark-200);
  --background-active: var(--sand-light-300);
  --background-inverse-secondary: var(--sand-dark-300);
  --background-tinted: rgb(29 31 33 / 40%);
  --dot-field-gradient-from: #bdc2c7;
  --dot-field-gradient-to: #a7adb4;
  --dot-field-glow-color: #dee0e2;
  --text-primary: var(--sand-dark-200);
  --text-secondary: var(--sand-light-800);
  --text-secondary-inverse: var(--sand-light-850);
  --text-tertiary: var(--sand-light-0);
  --text-inactive-primary: var(--sand-light-600);
  --text-inactive-secondary: var(--sand-light-500);
  --text-inactive-inverse-primary: var(--sand-light-950);
  --text-inverse: var(--sand-light-200);
  --border-primary: var(--sand-light-500);
  --border-secondary: var(--sand-dark-200);
  --border-tertiary: var(--sand-dark-500);

  --background: var(--background-primary);
  --foreground: var(--text-primary);
  --card: var(--sand-light-200);
  --card-foreground: var(--text-primary);
  --popover: var(--sand-light-200);
  --popover-foreground: var(--text-primary);
  --primary: var(--text-primary);
  --primary-foreground: var(--text-inverse);
  --secondary: var(--sand-light-500);
  --secondary-foreground: var(--text-primary);
  --muted: var(--sand-light-500);
  --muted-foreground: var(--text-secondary);
  --accent: var(--sand-light-500);
  --accent-foreground: var(--text-primary);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--border-primary);
  --input: var(--border-primary);
  --ring: var(--ocean-700);
  --chart-1: var(--sand-light-600);
  --chart-2: var(--sand-light-850);
  --chart-3: var(--ocean-600);
  --chart-4: var(--ocean-700);
  --chart-5: var(--ocean-850);
  --radius: 0.625rem;
  --sidebar: var(--background-primary);
  --sidebar-foreground: var(--text-primary);
  --sidebar-primary: var(--text-primary);
  --sidebar-primary-foreground: var(--text-inverse);
  --sidebar-accent: var(--sand-light-500);
  --sidebar-accent-foreground: var(--text-primary);
  --sidebar-border: var(--border-primary);
  --sidebar-ring: var(--ring);
}

.dark {
  --background-primary: var(--sand-dark-200);
  --background-inverse: var(--sand-light-200);
  --background-active: var(--sand-dark-300);
  --background-inverse-secondary: var(--sand-light-300);
  --dot-field-gradient-from: #383d42;
  --dot-field-gradient-to: #4b5258;
  --dot-field-glow-color: #1d1f21;
  --text-primary: var(--sand-light-200);
  --text-secondary: var(--sand-dark-800);
  --text-secondary-inverse: var(--sand-dark-850);
  --text-tertiary: var(--sand-dark-0);
  --text-inactive-primary: var(--sand-dark-600);
  --text-inactive-secondary: var(--sand-dark-500);
  --text-inactive-inverse-primary: var(--sand-dark-950);
  --text-inverse: var(--sand-dark-200);
  --border-primary: var(--sand-dark-500);
  --border-secondary: var(--sand-light-200);
  --border-tertiary: var(--sand-light-500);
  --background: var(--background-primary);
  --foreground: var(--text-primary);
  --card: var(--sand-dark-200);
  --card-foreground: var(--text-primary);
  --popover: var(--sand-dark-200);
  --popover-foreground: var(--text-primary);
  --primary: var(--text-primary);
  --primary-foreground: var(--text-inverse);
  --secondary: var(--sand-dark-500);
  --secondary-foreground: var(--text-primary);
  --muted: var(--sand-dark-500);
  --muted-foreground: var(--text-secondary);
  --accent: var(--sand-dark-500);
  --accent-foreground: var(--text-primary);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--border-primary);
  --input: var(--border-primary);
  --ring: var(--sand-dark-850);
  --chart-1: var(--sand-dark-950);
  --chart-2: var(--sand-dark-850);
  --chart-3: var(--sand-dark-800);
  --chart-4: var(--ocean-700);
  --chart-5: var(--ocean-850);
  --sidebar: var(--background-primary);
  --sidebar-foreground: var(--text-primary);
  --sidebar-primary: var(--text-primary);
  --sidebar-primary-foreground: var(--text-inverse);
  --sidebar-accent: var(--sand-dark-500);
  --sidebar-accent-foreground: var(--text-primary);
  --sidebar-border: var(--border-primary);
  --sidebar-ring: var(--ring);
}

.blue,
[data-theme="blue"] {
  --background-primary: var(--ocean-500);
  --background-inverse: var(--sand-light-200);
  --background-active: var(--ocean-600);
  --background-inverse-secondary: var(--sand-light-300);
  --dot-field-gradient-from: #145090;
  --dot-field-gradient-to: #1863b4;
  --dot-field-glow-color: #0f3b6b;
  --text-primary: var(--sand-light-200);
  --text-secondary: var(--ocean-850);
  --text-secondary-inverse: var(--ocean-500);
  --text-tertiary: var(--sand-dark-0);
  --text-inactive-primary: var(--ocean-800);
  --text-inactive-secondary: var(--ocean-700);
  --text-inactive-inverse-primary: var(--sand-dark-950);
  --text-inverse: var(--sand-dark-200);
  --border-primary: var(--ocean-600);
  --border-secondary: var(--sand-light-200);
  --border-tertiary: var(--sand-light-500);
  --background: var(--background-primary);
  --foreground: var(--text-primary);
  --card: var(--ocean-500);
  --card-foreground: var(--text-primary);
  --popover: var(--ocean-500);
  --popover-foreground: var(--text-primary);
  --primary: var(--text-primary);
  --primary-foreground: var(--text-inverse);
  --secondary: var(--ocean-700);
  --secondary-foreground: var(--text-primary);
  --muted: var(--ocean-700);
  --muted-foreground: var(--text-secondary);
  --accent: var(--ocean-700);
  --accent-foreground: var(--text-primary);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--border-primary);
  --input: var(--border-primary);
  --ring: var(--ocean-850);
  --chart-1: var(--ocean-500);
  --chart-2: var(--ocean-600);
  --chart-3: var(--ocean-700);
  --chart-4: var(--ocean-800);
  --chart-5: var(--ocean-850);
  --sidebar: var(--background-primary);
  --sidebar-foreground: var(--text-primary);
  --sidebar-primary: var(--text-primary);
  --sidebar-primary-foreground: var(--text-inverse);
  --sidebar-accent: var(--ocean-700);
  --sidebar-accent-foreground: var(--text-primary);
  --sidebar-border: var(--border-primary);
  --sidebar-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
